USE [master]
GO
/****** Object:  Database [BD_DACP_2025]    Script Date: 28/01/2025 23:40:52 ******/
CREATE DATABASE [BD_DACP_2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_DACP_2025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\BD_DACP_2025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_DACP_2025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\BD_DACP_2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_DACP_2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_DACP_2025]
GO
/****** Object:  User [Usuario_BD_DACP_2025]    Script Date: 28/01/2025 23:40:52 ******/
CREATE USER [Usuario_BD_DACP_2025] FOR LOGIN [Usuario_BD_DACP_2025] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Usuario_BD_DACP_2025]
GO
/****** Object:  Table [dbo].[Alumno]    Script Date: 28/01/2025 23:40:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumno](
	[IdAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Apellidos] [varchar](100) NULL,
	[Nombres] [varchar](100) NULL,
	[Correo] [varchar](250) NULL,
 CONSTRAINT [PK_Alumno] PRIMARY KEY CLUSTERED 
(
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumno] ON 

INSERT [dbo].[Alumno] ([IdAlumno], [Apellidos], [Nombres], [Correo]) VALUES (1, N'Paz', N'Sergio', N'lyceumwhite@gmail.com')
INSERT [dbo].[Alumno] ([IdAlumno], [Apellidos], [Nombres], [Correo]) VALUES (2, N'Amoretti', N'Edelson', N'edelson.amoretti@gmail.com')
INSERT [dbo].[Alumno] ([IdAlumno], [Apellidos], [Nombres], [Correo]) VALUES (3, N'Molina', N'Pedro', N'pedro.molina@grupomok.com')
SET IDENTITY_INSERT [dbo].[Alumno] OFF
GO
USE [master]
GO
